First Number: <%= num1 %>. Please enter second number:

<form method = 'post' action = '/secondnum'>
  Second Number: <input type="number" name="num2"><br>
  <input type = "hidden" name = "num1" value = "<%= num1 %>">
  <input type="submit" value="Submit">
</form>
