<form method = 'post' action = '/number'>
First number: <input type="number" name="num1"><br>
Second Number: <input type="number" name="num2"><br>
Add: <input type = 'radio' name = 'op' value = 'add'> <br>
Subtract: <input type = "radio" name = 'op' value = '-'> <br>
Multiply: <input type = 'radio' name = 'op' value = '*'> <br>
Divide: <input type = 'radio' name = 'op' value = '/'> <br>
<input type="submit" value="Submit">
</form>